.Savejob {
    width: 1140px;
    height: 346px;
    margin-left: 192px;
    margin-top: 31px;
    margin-bottom: 100px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px ;
}

.Header-savejob {
    margin-top: 30px;
    margin-bottom: 10px;

}

.Header-savejob span {
    margin-left: 25px;
    cursor: pointer;
    
}

.Body-savejob {
    font-size: 25px;
    margin-top: 100px;
    text-align: center;
      
}

.sp1 {
    color: black;
    text-decoration: none;
}

.sp1:hover {
    color: #14A800;
    text-decoration: none;
}
.sp2 {
    color: #14A800;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}