.passwordSecurity {
    width: 776px;
    margin-left: 498px;
    margin-top: -450px;
    margin-bottom: 200px;
    
}
.passwordSecurity>p {
    font-size: 30px;
    margin-right: 400px;
    color: black;
    font-weight: 600;
}
.authenticatedOptions {
    width: 773px;
    height: 315px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
}
.headAuthenticated p {
    margin-top: -30px;
    display: flex;
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding-top: 30px;
    margin-left: 30px;
}
.bodyAuthenticated .titlebodyAuthenticated {
    display: flex;
    flex: 50%;
    margin-left: 30px;
    font-size: 25px;
}
.bodyAuthenticated p {
    display: flex;
    flex: 50%;
    margin-left: 30px;
    font-size: 25px;
    color: black;
}
.contentbodyAuthenticated ul {
    font-size: 18px;
}
.contentbodyAuthenticated p {
    font-size: 15px;
    text-align: left;
}