.All-Job-Posting {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #e0e0e0;
    
}

.Form-Job-Posting {
    display: block;
    background-color: #ffff;
    width: 1000px;
    height: 700px;
    margin-top: 30px;
    position: relative;
    margin: auto;
}

.Menu-Category-Job {
    position: absolute;
    width: 260px;
    height: 400px;
}

.Tab-Status-Job {
    display: block;
    width:700px;
    height:700px;

    position: absolute;
    margin: auto;
    margin-left: 290px ;

    margin-top: 60px;
}